/* Form.module.css */

.content {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
}

.title {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  color: var(--blue);
  text-align: center;
  padding: 50px;
}

.form {
  background-color: var(--gray);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 800px;
  height: 500px;
  margin: 0;
}

.subtitle {
  font-size: 1.2rem;
  color: var(--light-blue);
  margin-bottom: 15px;
  text-align: center;
}

.field {
  margin-bottom: 15px;
}

.label {
  display: block;
  font-weight: bold;
  color: #fff;
  font-family: "Poopins", sans-serif;
}

.input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.input:focus {
  border-color: var(--blue);
  outline: none;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.submitButton:hover {
  background-color: var(--gray);
  border: 1px solid var(--light-blue);
}

@media (max-width: 768px) {
  .title {
    font-size: 2em;
  }

  .img {
    display: none;
  }
}