.content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.text_section {
    margin-top: 30px;
    justify-items: center;
}

.welcome_title {
    color: var(--gray);
}

.logo {
    font-size: 3.5em;
    font-family: "Poppins", sans-serif;
    color: var(--blue);
}

.paragraph {
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--gray);
    font-size: 15px;
    margin-bottom: 30px;
}

.start_btn {
    height: 60px;
    width: 130px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    border-radius: 20px;
    background-color: var(--blue);
    color: white;
}

.start_btn:hover {
    background-color: var(--gray);
    color: #fff;
    border: 1px solid var(--light-blue);
    transition: 0.2s ease-out;
}

.img_pc {
    display: none;
}

@media (min-width: 768px) {
    .content {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .paragraph {
        font-size: 2.5em;
        width: 500px;
    }

    .logo {
        font-size: 6em;
    }

    .img {
        display: block;
        height: 600px;
        width: 600px;
    }

    .start_btn {
        height: 80px;
        width: 200px;
        margin-bottom: 50px;
    }
}

@media (min-width: 1280px) {
    .img {
        display: none;
    }
    .img_pc {
        display: block;
    }
    .content {
        flex-direction: row;
    }
}